<form [formGroup]="loginForm" class="login-form">
  <label for="username">Login</label>
  <input type="text" id="username" formControlName="username" />
  <div *ngIf="username?.errors?.['required'] && (username?.touched || username?.dirty)" class="error">
    Please enter a login email
  </div>
  <div *ngIf="username?.errors?.['email'] && (username?.touched || username?.dirty)" class="error">
    The login email is invalid
  </div>

  <label for="password">Password</label>
  <input type="password" id="password" formControlName="password" />
  <div *ngIf="password?.errors?.['required'] && (password?.touched || password?.dirty)" class="error">
    Please enter a password
  </div>
  <div *ngIf="password?.errors?.['weakPassword'] && (password?.touched || password?.dirty)" class="error">
    {{ password?.errors?.['weakPassword'] }}
  </div>
  <app-button [isDisabled]="!isValid" [btnClass]="'login'" (clickHandler)="onSubmit()">Login</app-button>
</form>
