.sorting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: #bab9b9;
  padding: 20px;

  .sortring {
    display: flex;
    flex-direction: row;
    gap: 10px;

    a {
      color: rgb(55, 54, 54);
      text-decoration: underline;
      cursor: pointer;
    }

    .filter {
      text-decoration: none;
      cursor: default;
    }

    input {
      border-radius: 5px;
      border: 1px solid rgb(212, 208, 208);
    }
  }
}
